
<div class="login-wrapper">
<div class="card">
<div class="card-body">

    <form class="form-signi">
      <h1 class="font-weight-bold">Create Personal Account</h1>

      <div class="form-floating">
        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput">Email address</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
        <label for="floatingPassword">Password</label>
      </div>

      <div class="checkbox mb-3">
        <label class="labell">
          <input type="checkbox" value="remember-me">I have read and agree to waliya terms<br> of service and privacy policy
        </label>
        <label>
          <input type="checkbox" value="remember-me">I have agreed to receive marketing  updates from waliya.
</label>
<br>
<br>
      </div>
      <button class="w-100 btn btn-lg btn btn-warning" type="submit">Create Personal Account</button>
    </form>

</div>
</div>
</div>
