
.login-wrapper
{
margin: 12rem auto;
width: 30rem;
height: 50rem;
}

.form-floating{

margin-bottom: 2.5rem;
}

.labell
{

margin-bottom: 0.5rem;
}

.spart {
  display: flex;
}

.select1 {
  flex: 1;
  float: right;
  // background-color: #3ac47d;
  //  padding: 20px;
}

.select2 {
  flex: 1;
  float: right;
  // background-color:gray;
}
